/*
* Author : Muhammad sajid
* Created Date : 10/2/2018
*/
.color-red{
	color:red;
}

.eo-dp-toolkit{
	height: 100px;
}
.eo-dp-toolkit label{
	cursor: pointer;
}
.pointer{
	cursor: pointer !important;
}